<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="core.math.calculator.SumCalculator"/>

    <bean class="core.math.calculator.PowerOfCalculator"/>


    <bean id="mathService1" class="core.math.service.DelegatingMathService" autowire="constructor"/>

    <bean id="mathService2" class="core.math.service.DelegatingMathService" autowire="constructor"/>

</beans>