<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="core.math.calculator.SumCalculator"/>

    <bean id="whatever" class="core.math.calculator.PowerOfCalculator"/>

    <!-- Having another bean of the same type would cause trouble:
    <bean id="another" class="core.math.calculator.PowerOfCalculator"/>
    -->


    <bean class="core.math.service.SetterInjectedMathService" autowire="byType">
    </bean>

</beans>