<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringXmlModelInspection -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- partially manual and automatic wiring using beans from various imported sources -->
    <bean id="setterInjectedMathService" class="core.math.service.SetterInjectedMathService" autowire="byType">
        <property name="sumCalculator" ref="sumCalc1"/>
    </bean>

</beans>